<div class="modal" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Registro</h5>
            </div>
            <div class="modal-body">
                <form id="formularioEdicao">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome">
                    </div>
                    <div class="mb-3">
                        <label for="cpf_cnpj" class="form-label">Cpf Cnpj</label>
                        <textarea class="form-control" id="cpf_cnpj" name="cpf_cnpj"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <textarea class="form-control" id="email" name="email"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <textarea class="form-control" id="senha" name="senha"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="fecharModal()">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="salvarEdicao()">Salvar</button>
            </div>
        </div>
    </div>
</div>
<div id="mensagem"></div>

<form asp-action="Index">
    <div class="container">
        <div class="row">
            <span>Cadastrar Novo Cliente</span>
            <hr />
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Nome">Nome</label>
                    <input type="text" class="form-control" name="Nome" placeholder="Nome">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Descricao">Cpf Cnpj</label>
                    <input type="text" class="form-control" name="Cpf_Cnpj" placeholder="Cpf Cnpj">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Preco_Unitario">Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Preco_Unitario">Senha</label>
                    <input type="text" class="form-control" name="senha" placeholder="Senha">
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</form>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="jqGridCliente"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>

@section clienterender {
    <script src="~/js/cliente.js"></script>
}