
.vs/SistemaGestaoVendas/FileContentIndex/1f991b01-c571-42c0-a684-7a38b7e0bce4.vsidx
.vs/SistemaGestaoVendas/FileContentIndex/95f05ec8-fc9a-4452-90e5-2264d7f4bc1c.vsidx
.vs/SistemaGestaoVendas/FileContentIndex/a98475c0-3342-4376-9813-39c39f740740.vsidx
.vs/SistemaGestaoVendas/FileContentIndex/ee757302-caf5-4241-8c3d-d980577ab711.vsidx
.vs/ProjectEvaluation/sistemagestaovendas.metadata.v7.bin
.vs/ProjectEvaluation/sistemagestaovendas.projects.v7.bin
.vs/SistemaGestaoVendas/v17/.suo
