<div id="mensagem"></div>

<form asp-action="Index">
    <div class="container">
        <div class="row">
            <span>Cadastrar Novo Vendedor</span>
            <hr />
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Nome">Nome</label>
                    <input type="text" class="form-control" name="Nome" placeholder="Nome">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Preco_Unitario">Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Preco_Unitario">Senha</label>
                    <input type="text" class="form-control" name="senha" placeholder="Senha">
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</form>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="jqGridVendedor"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>

@section vendedorender {
    <script src="~/js/vendedor.js"></script>
}