@{
    ViewData["Title"] = "Enviar Nota";
}

<h2>Enviar Nota</h2>

<form asp-action="EnviarNota" method="post">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputAmbiente">Ambiente</label>
            <select id="inputAmbiente" class="form-control" name="ambiente">
                <option selected>Selecione um Ambiente</option>
                <option value="SendBox">SendBox</option>
                <option value="Producao">Produção</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="textToken">Chave Autenticação</label>
            <input type="text" class="form-control" id="textToken" name="token">
        </div>
    </div>
    <div class="form-group">
        <label for="jsonNota">JSON da Nota</label>
        <textarea class="form-control" id="jsonNota" rows="3" name="jsonNota"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@if (ViewBag.Message != null)
{
    <div style="color:@ViewBag.MessageColor;">@ViewBag.Message</div>
}

@if (ViewBag.StatusCode != null)
{
    <div>Status: <span style="color:@ViewBag.StatusColor;">@ViewBag.StatusCode</span></div>
}

@if (ViewBag.ResponseContent != null)
{
    <div>Response: @ViewBag.ResponseContent</div>
}