<div class="modal" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Registro</h5>
            </div>
            <div class="modal-body">
                <form id="formularioEdicao">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome">
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea class="form-control" id="descricao" name="descricao"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="preco_unitario" class="form-label">Preco Unitario</label>
                        <textarea class="form-control" id="preco_unitario" name="preco_unitario"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="quantidade_estoque" class="form-label">Quantidade Estoque</label>
                        <textarea class="form-control" id="quantidade_estoque" name="quantidade_estoque"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="unidade_medida" class="form-label">Unidade Medida</label>
                        <textarea class="form-control" id="unidade_medida" name="unidade_medida"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="link_foto" class="form-label">Link foto</label>
                        <textarea class="form-control" id="link_foto" name="link_foto"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="fecharModal()">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="salvarEdicao()">Salvar</button>
            </div>
        </div>
    </div>
</div>
<div id="mensagem"></div>
<div class="container">
    <div class="row">
        <input type="file" id="xmlFile" style="display: none;" onchange="importarXML()" />
        <label for="xmlFile" class="btn btn-primary col-md-2">Importar XML NF</label>
    </div>
</div>
<br />
<form asp-action="Index">
    <div class="container">
        <div class="row">
            <span>Cadastrar novo Produto</span>
            <hr />
                       
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Nome">Nome</label>
                    <input type="text" class="form-control" name="Nome" placeholder="Nome">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Descricao">Descrição</label>
                    <input type="text" class="form-control" name="Descricao" placeholder="Descrição">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Preco_Unitario">Preço Unitário</label>
                    <input type="text" class="form-control" name="Preco_Unitario" placeholder="Preço Unitário">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Quantidade_Estoque">Quantidade Estoque</label>
                    <input type="text" class="form-control" name="Quantidade_Estoque" placeholder="Quantidade Estoque">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Unidade_Medida">Unidade Medida</label>
                    <input type="text" class="form-control" name="Unidade_Medida" placeholder="Unidade Medida">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Link_Foto">Link Foto</label>
                    <input type="text" class="form-control" name="Link_Foto" placeholder="Link Foto">
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</form>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="jqGridProduto"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>

@section produtorender {
    <script src="~/js/produto.js"></script>
}